NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://venus.sod.asu.edu/WSRepository/xml"
            targetNamespace="http://venus.sod.asu.edu/WSRepository/xml"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      National Parks
    </xsd:documentation>
  </xsd:annotation>

  <!-- Root element -->
  <xsd:element name="NationalParks" type="NationalParksType"/>

  <!-- Collection of parks -->
  <xsd:complexType name="NationalParksType">
    <xsd:sequence>
      <xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Single park -->
  <xsd:complexType name="NationalParkType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType"/>
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <!-- Address (UPDATED: NearestAirport is now an element at the bottom) -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string"/>
      <xsd:element name="Street" type="xsd:string"/>
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Zip" type="xsd:string"/>
      <xsd:element name="NearestAirport" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Phone format -->
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
